# Data&test
Videos/
test/
.cache
.vscode/
__pycache__/

# Ignore the .log file
*.log

# Ignore logs folder
logs/

# Ignore login_file folder
login_file/

# Specific for the MacOS
.DS_Store

# Specific for the git commitizen
node_modules/
package.json
pnpm-lock.yaml
package-lock.json