# Data&test
Videos/
test/
.cache
.vscode/
__pycache__/

# Ignore the .log file
*.log

# Ignore logs folder
logs/*/*
!logs/*/.gitkeep

# Ignore login_file folder
login_file/

# Specific for the MacOS
.DS_Store

# Specific for the git commitizen
node_modules/
package.json
pnpm-lock.yaml
package-lock.json

# Ignore the biliup folder
upload/config/*
!upload/config/1234567.yaml
!upload/config/upload_config.json
!upload/uploadVideoQueue.txt

# Ignore the production
startRecord-production.sh
settings-production.toml
path.txt
sameSegments.txt

# Ignore the cookies.json
cookies.json